.container {
	font-family: "garamond";
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.head{
	padding-bottom: 30px;
	text-align: center
}

.title {
	padding: 80px 0 0 0;
	text-align: center;
}

.form {
	padding-bottom: 20px;
}

table > thead > tr > th{
	text-align: center;
}

table > tbody > tr > td {
	text-align: center;
}